h1 {
    text-align: center;
    padding: 20px;
}

.user-name {
    
}

.user-box {
    width: 300px;
    height: 150px;
    background-color: darkslateblue;
    border-style: groove;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    margin: 20px;

    text-align: center;
    color: white;
    font-size: 14px;
    padding: 40px;
    
    transition: 0.5s;
}

.user-box p {
    font-size: 20px;
}

.user-box a:link {
    color: white;
    text-decoration: none;
}

.user-box a:visited {
    color: white;
    text-decoration: none;
}

.user-box:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

#user1 {
    color: white;
}

.img-box {
    width: 250px;
    height: 200px;
    background-color: darkslateblue;
    
}
