body{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

section {
    margin: 120px 0;
}
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /* Section id brand */

  #brand .brandImg {
      margin-top: -15px;
      font-size: 4rem;
      color:coral;
  }

  #brand .brandTitle {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0px;
  }
  

  /* Section id deal */

  #deal .title h3{
      font-size: 2rem;
      color:coral;
      text-align: center;
  }

  #deal h5 {
      margin-top: -20px;
      text-align: center;
  }

  #deal ul li {
      padding-right: 40px;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
  }

  #deal ul li:last-child {
      padding-right: 0px;
  }

  #deal .productImg {
      width: 100%;
      height: 350px;
      background-color: gray;
  }

  #deal .productTitle {
      margin-top:20px;
      text-align: center;
      font-size: 1.0rem;
  }
  #deal .productScore {
      margin-top: -10px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      color:darkgoldenrod;
  }

  #deal .productPrice {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
  }

  #deal .productPrice #pr {
      padding-left: 20px;
      color: gray;
      text-decoration: line-through;
  }

  #deal .productPrice #dis {
      padding-left: 10px;
      font-size: 1.0rem;
      color: red;
  }

  /* Section id blog */
  #blog .title h3{
    font-size: 2rem;
    color:coral;
    text-align: center;
}

#blog .blogImg {
    width: 100%;
    height: auto;
    
}

#blog .blogImgBox {
    width: 100%;
    height: auto;
    background-color: gray;
}

#blog .blogTxt {
    width: 90%;
    margin: 5%;
    background-color: white;
    /*border: thin solid gray;*/
    position: relative;
    top: -80px;
}

#blog .blogTxt p{
    text-decoration: none;
}

#blog .blogTitle {
    padding-top:20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:darkgoldenrod;
}

#blog a:link{
    text-decoration: none;
}

#blog a:hover {
    font-weight: bold;
}

#blog .blogAuth {
    text-align: center;
    font-style: italic;
    font-size: 1.0rem;
    color: gray;
    
}

footer .footer{
    background-color: gray;
    height: 400px;
    padding: 100px 0;
    color: white;
}

footer .footerLogo {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  footer .footerLogo span {
    font-size: 1.7rem;
  }

  footer .menuTitle {
      font-size: 1.2rem;
      font-weight: bold;
  }

  footer ul {
    list-style: none;
    padding: 0px;
  }

  footer ul li a:visited{
    font-size: 1.0rem;
    color: white;
    text-decoration: none;
  }

  footer ul li a:link {
    font-size: 1.0rem;
    color: white;
    text-decoration: none;
  }

  footer ul li a:hover {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
  }

  footer .subscribeTxt {
      font-size: 1.0rem;
  }

  footer #subscribeInput {
      margin-bottom: 10px;
      width: 100%;
  }